body {
    font-size: var(--size-base, 16px);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block; 
    max-width: 100%;
}

input, button, textarea, select {
    all: unset;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,	
h6 {
    word-break: break-word;
}    

.visually-hidden:not(:focus):not(:active) { 
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
        
*, *:after, *:before {
    box-sizing: border-box;
}
            

button.button:focus,
button.button::-moz-focus-inner {
    outline: none;
}