.checkbox {
    --checkbox-font-family: Arial, sans-serif;
    --checkbox-font-size: var(--font-size-100);
    --checkbox-font-weight: var(--font-weight-400);
    --checkbox-font-style: normal;
    --checkbox-font-line-height: var(--font-line-height-2);
    --checkbox-font-text-transform: none;
    
    --checkbox-font: var(--checkbox-font-style) var(--checkbox-font-weight)  var(--checkbox-font-size)/var(--checkbox-font-line-height) var(--checkbox-font-family);
    
    --checkbox-label-color: var(--color-secondary-900);
    --checkbox-microcopy-color: var(--color-secondary-800);
    
    --checkbox-label-disabled-color: var(--color-secondary-800);
    --checkbox-microcopy-disabled-color: var(--color-secondary-800);
    
    --checkbox-border-radius: 3px;
    --checkbox-border-width: var(--element-stroke-width);
    --checkbox-border-color: var(--color-secondary-400);
    
    --checkbox-outline-color: none;
    
    --checkbox-hover-color: var(--color-secondary-900);
    --checkbox-hover-background-color:  var(--color-secondary-50);
    --checkbox-hover-border-color: none;
    
    --checkbox-focus-color: var(--color-secondary-900);
    --checkbox-focus-background-color: none;
    --checkbox-focus-border-color: var(--color-secondary-800);
    
    --checkbox-disabled-color: var(--color-secondary-500);
    --checkbox-disabled-background-color:  var(--color-secondary-200);
    --checkbox-disabled-border-color:  var(--color-secondary-500);
    
    --checkbox-background-color: var(--color-secondary-50);
    --checkbox-icon: var(--icon-check);
    --checkbox-icon-color: var(--color-secondary-50);
    
    --checkbox-checkmark-width:  var(--checkbox-font-line-height);
    --checkbox-checkmark-height: var(--checkbox-font-line-height);
    --checkbox-checkmark-margin: 0.75rem;
    
    display: inline-block;
    font: var(--checkbox-font); 
    white-space: nowrap;
    width: var(--checkbox-width, auto); 
    height: var(--checkbox-height, auto);
}

.checkbox input[type="checkbox"] {
    background-color: var(--checkbox-background-color); 
    color: currentColor;
    width: var(--checkbox-checkmark-width);
    height: var(--checkbox-checkmark-height); 
    border-style: solid;
    border-radius: var(--checkbox-border-radius); 
    border-width: var(--checkbox-border-width); 
    border-color: var(--checkbox-border-color);
    
    vertical-align: middle; position: relative; display: inline-block;
    outline-color: var(--checkbox-outline-color);
    margin: var(--checkbox-checkmark-margin);
}

.checkbox:hover input[type="checkbox"]:not([disabled]) {
    border: none;
    --checkbox-outline-color: var(--color-secondary-800); 
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
}

.checkbox > * {
    display: inline-block;
}

.checkbox .checkbox_content { 
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - (var(--checkbox-checkmark-width) +  (var(--checkbox-checkmark-margin) * 2)));
}

.checkbox .checkbox_content-label {
	color: var(--checkbox-label-color);
}

.checkbox[data-disabled] input[type="checkbox"],
.checkbox input[type="checkbox"]:disabled {
    --checkbox-background-color:  var(--checkbox-disabled-background-color);	
    --checkbox-border-color:  var(--checkbox-disabled-border-color);
}
    
.checkbox[data-disabled] input[type="checkbox"],
.checkbox input[type="checkbox"]:disabled,
.checkbox[data-disabled]:hover input[type="checkbox"],
.checkbox:hover input[type="checkbox"]:disabled,
.checkbox[data-disabled]:active  input[type="checkbox"],
.checkbox:active  input[type="checkbox"]:disabled,
.checkbox[data-disabled]:focus  input[type="checkbox"],
.checkbox:focus input[type="checkbox"]:disabled {
--checkbox-background-color:  var(--checkbox-disabled-background-color);
--checkbox-border-color: var(--checkbox-disabled-border-color);
 outline: none;
}

.checkbox[data-disabled] input[type="checkbox"] + .checkbox_content,
.checkbox input[type="checkbox"]:disabled +  .checkbox_content {
    --checkbox-label-color:  var(--checkbox-label-disabled-color);
	--checkbox-microcopy-color:  var(--checkbox-microcopy-disabled-color);
}

.checkbox[data-disabled]:hover {
	--checkbox-border-color: var(--checkbox-disabled-border-color);
}

.checkbox:focus input[type="checkbox"],
.checkbox:focus-within input[type="checkbox"] {
    --checkbox-icon-color:  var(--checkbox-focus-color);
    --checkbox-background-color:  var(--checkbox-focus-background-color);
    --checkbox-outline-color: var(--focus-outline-color);
    border: none;
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
}

.checkbox:active input[type="checkbox"],
.checkbox input[type="checkbox"]:active {
    --checkbox-outline-color:  var(--color-secondary-900);
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
}

.checkbox:not([data-disabled]):active  input[type="checkbox"]:not([disabled]),
.checkbox:not([data-disabled]) input[type="checkbox"]:active:not([disabled]) {
	border: none;
}

.checkbox:hover input[type="checkbox"]:checked {
    --checkbox-background-color:  var(--color-primary-500);
    --checkbox-border-color:  var(--color-secondary-800);	
}

.checkbox input[type="checkbox"]:checked:disabled {
    --checkbox-icon-color:  var(--checkbox-disabled-color);
    --checkbox-background-color:  var(--checkbox-disabled-background-color);
    --checkbox-border-color:  var(--checkbox-disabled-border-color);
}

.checkbox label,
.checkbox .checkbox_content-microcopy { 
    display: block;
    white-space: normal;
}

.checkbox .checkbox_content-microcopy { 
    color: var(--checkbox-microcopy-color); 
    font-size: var(--font-size-75);
}

.checkbox input[type="checkbox"]:checked {
    --checkbox-border-color:  var(--color-primary-400);
    --checkbox-background-color:  var(--color-primary-400);
    --checkbox-icon-color:  var(--color-secondary-50);
}

.checkbox input[type="checkbox"]::before { 
    content: " ";
    display: inline-block;
    width: var(--font-size-100);
    height: var(--font-size-100);
    background-color:  var(--checkbox-icon-color);
    mask-image: var(--checkbox-icon); 
    mask-size: 100%;
    -webkit-mask-image:  var(--checkbox-icon);
    -webkit-mask-size: 100%;

    position: absolute; top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    scale(0);
}

.checkbox input[type="checkbox"]:checked::before {
    transform: translate(-50%,-50%)
    scale(1);
}

.checkbox input[type="checkbox"]:indeterminate {
    --checkbox-border-color:  var(--color-primary-400);
    --checkbox-background-color:  var(--color-primary-400);
    --checkbox-icon-color:  var(--color-secondary-50);
}

.checkbox input[type="checkbox"]:indeterminate::before { 
    content: "";
    display: inline-block;	
    width: var(--font-size-100);
    height: var(--font-size-100);
    background-color: var(--checkbox-icon-color); 
    clip-path: inset(45% 10% 45% 10%);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}

@media (forced-colors: active) {
    .checkbox input[type="checkbox"]:before{ 
        forced-color-adjust: none;
        --checkbox-icon-color: #fff;
    }
}
    