.progress-indicator {
    --progress-indicator-font-family:  Arial, sans-serif;
    --progress-indicator-font-size:  var(--font-size-100);
    --progress-indicator-font-weight:  var(--font-weight-400);
    --progress-indicator-font-style: normal;
    --progress-indicator-font-line-height:  var(--font-line-height-3);
    --progress-indicator-font-text-transform: none;
    --progress-indicator-font: var(--progress-indicator-font-style) var(--progress-indicator-font-weight) var(--progress-indicator-font-size)/var(--progress-indicator-font-line-height) var(--progress-indicator-font-family);
    
    --progress-indicator-label-color: var(--color-secondary-900);
    --progress-indicator-step-icon:  var(--icon-check);
    --progress-indicator-step-icon-size: 1rem;
    --progress-indicator-step-icon-color: var(--color-secondary-100);
    
    --progress-indicator-step-size: 1.75rem;
    --progress-indicator-step-border-width: .25rem;
    --progress-indicator-step-fill-color: transparent;
    --progress-indicator-step-border-color: var(--color-secondary-600);
    --progress-indicator-step-border-active-color: var(--color-primary-500);
    --progress-indicator-step-border-complete-color: var(--color-primary-500);
    --progress-indicator-step-fill-complete-color: var(--color-primary-500);
    --progress-indicator-step-connector-thickness: .25rem;
    --progress-indicator-step-connector-right-color: var(--color-secondary-600);;
    --progress-indicator-step-connector-left-color:   var(--color-secondary-600);
    --progress-indicator-step-connector-complete-color: var(--color-primary-500);
    
    display: inline-flex; 
    justify-content: center;
    width: var(--progress-indicator-width, 100%);
}

.progress-indicator {
    box-sizing: content-box;
}
    
.progress-indicator_step { 
    display: inline-block; 
    text-align: center; 
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
}
    
.progress-indicator_step-label { 
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .75rem; 
    display: block;
    font: var(--progress-indicator-font); 
    word-break: break-word;
    color: var(--progress-indicator-label-color);
}

.progress-indicator_step-icon {
    display: inline-block;
    border-width: var(--progress-indicator-step-border-width); 
    border-style: solid;
    border-color: var(--progress-indicator-step-border-color); 
    border-radius: 50%;
    background-color: var(--progress-indicator-step-fill-color); 
    height: var(--progress-indicator-step-size);
    width: var(--progress-indicator-step-size); 
    position: relative;    
}

.progress-indicator_step[data-completed] .progress-indicator_step-icon:before {
    content: " ";
    display: block;
    mask-image: var(--progress-indicator-step-icon);
    mask-size: 100%;
    -webkit-mask-image: var(--progress-indicator-step-icon);
    -webkit-mask-size: 100%;
    width: var(--progress-indicator-step-icon-size);
    height: var(--progress-indicator-step-icon-size);
    line-height: normal;
    background-color: var(--progress-indicator-step-icon-color);
    position: absolute; top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    
.progress-indicator_step[data-current] {
    --progress-indicator-step-border-color:  var(--progress-indicator-step-border-active-color);
    --progress-indicator-step-connector-left-color:  var(--progress-indicator-step-connector-complete-color);
}
        
.progress-indicator_step[data-completed]  {
    --progress-indicator-step-fill-color:  var(--progress-indicator-step-fill-complete-color);
    --progress-indicator-step-border-color:  var(--progress-indicator-step-border-complete-color);
    --progress-indicator-step-connector-left-color:  var(--progress-indicator-step-connector-complete-color);
    --progress-indicator-step-connector-right-color:  var(--progress-indicator-step-connector-complete-color);
}

.progress-indicator_step + .progress-indicator_step:before,
.progress-indicator_step:not(:last-child):after { 
    content: " ";
    display: inline-block;
    width: calc(50% - (var(--progress-indicator-step-size) / 2)); height: var(--progress-indicator-step-connector-thickness); 
    position: absolute;
    top: calc((var(--progress-indicator-step-size) / 2) - (var(--progress-indicator-step-connector-thickness) / 2));
}

.progress-indicator_step + .progress-indicator_step:before {
    background-color: var(--progress-indicator-step-connector-left-color);
    left: 0;
}

.progress-indicator_step:not(:last-child):after {
    background-color: var(--progress-indicator-step-connector-right-color); right: 0;
}
    
@media only screen and (max-width: 512px) {
    .progress-indicator {
        --progress-indicator-step-size: 1rem;
        --progress-indicator-font-size:  var(--font-size-75);
        --progress-indicator-step-icon-size: .75rem;
        --progress-indicator-step-border-width: .125rem;
    }
}
    
@media (forced-colors: active) {
    .progress-indicator_step +  .progress-indicator_step:before,
    .progress-indicator_step +  .progress-indicator_step:after,
    .progress-indicator_step:not(:last-child):after { 
        forced-color-adjust: none;
        --progress-indicator-step-connector-left-color:  ButtonBorder;
        --progress-indicator-step-connector-right-color: ButtonBorder;
    }
    .progress-indicator_step[data-completed] { 
        forced-color-adjust: none;
        --progress-indicator-step-fill-color: ButtonFace;
        --progress-indicator-step-border-color: ButtonText;
        --progress-indicator-step-connector-left-color:  ButtonText;
        --progress-indicator-step-connector-right-color: ButtonText;
    }
    
    .progress-indicator_step[data-completed] .progress-indicator_step-icon:before { 
        forced-color-adjust: none;
        --progress-indicator-step-icon-color: ButtonText;
    }
    
    .progress-indicator_step-label { forced-color-adjust: none;
        --progress-indicator-label-color: ButtonText;
    }
}