.toggle {
    --toggle-font-family:  Arial, sans-serif;
    --toggle-font-size: var(--font-size-100);
    --toggle-font-weight:  var(--font-weight-400);
    --toggle-font-style: normal;
    --toggle-font-line-height:  var(--font-line-height-3);
    --toggle-font-text-transform: none;
    --toggle-font: var(--toggle-font-style) var(--toggle-font-weight) var(--toggle-font-size)/var(--toggle-font-line-height) var(--toggle-font-family);
    
    --toggle-background-color: var(--color-secondary-50);
    --toggle-label-color:  var(--color-secondary-900);
    
    --toggle-label-disabled-color:  var(--color-secondary-800);
    --toggle-microcopy-disabled-color:  var(--color-secondary-800);
    
    --toggle-border-radius: 30px;
    --toggle-border-width: var(--element-stroke-width);
    --toggle-border-color: var(--color-secondary-400);
    
    --toggle-hover-color:  var(--color-secondary-900);
    --toggle-hover-background-color:  var(--color-secondary-50);
    --toggle-hover-border-color:  var(--color-secondary-800);
    
    --toggle-focus-color:  var(--color-secondary-900);
    --toggle-focus-background-color: none;
    --toggle-focus-border-color:  var(--color-secondary-900);
    
    --toggle-disabled-color: var(--color-secondary-500);
    --toggle-disabled-background-color:  var(--color-secondary-200);
    --toggle-disabled-border-color: var(--color-secondary-500); 

    --toggle-slider-width: 2.5rem;
    --toggle-slider-height: 1.5rem;

    display: inline-block;
    width: var(--toggle-width, auto); height: var(--toggle-height, auto); 
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
    
.toggle .toggle_label-wrapper { 
    display: inline-flex;
    align-items: center;
}

.toggle .toggle_switch-wrapper { 
    position:relative;
    display: inline-block;
}

.toggle .toggle_label {
    font: var(--toggle-font);
    color: var(--toggle-label-color);
    position: relative; 
    display: inline-block; 
    margin-right: 1rem; 
    word-break: break-word;
}

.toggle input[type="checkbox"] {
    background-color: var(--toggle-background-color); 
    width: var(--toggle-slider-width);
    height: var(--toggle-slider-height);

    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0; 
    vertical-align: middle; 
    position: relative; 
    display: inline-block;
}

.toggle input[type="checkbox"] + .toggle_slider { 
    position: absolute;
    cursor: pointer; top: 0; left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-secondary-50);
    -webkit-transition: .4s; 
    transition: .4s;
    transition-property: background-color;
    border-radius: var(--toggle-border-radius); 
    border-style: solid;
    border-width: var(--toggle-border-width);
    border-color: var(--toggle-border-color); 
    height: var(--toggle-slider-height); 
    width: var(--toggle-slider-width);
}

.toggle input[type="checkbox"] + .toggle_slider:before { 
    position: absolute;
    content: "";
    height: calc(var(--toggle-slider-height) -  calc(var(--toggle-border-width)*4));
    width: calc(var(--toggle-slider-height) - calc(var(--toggle-border-width) * 4));	
    left: var(--toggle-border-width); 
    bottom: var(--toggle-border-width);
    background-color:  var(--color-secondary-400);
    -webkit-transition: .4s; 
    transition: .4s;
    border-radius: 50%;
}
    
.toggle input[type="checkbox"]:checked + .toggle_slider {
    background-color: var(--color-primary-400); border-color: var(--color-primary-400);
}

.toggle input[type="checkbox"]:checked + .toggle_slider:before {
    -webkit-transform:  translateX(var(--toggle-slider-width));
    -ms-transform:  translateX(var(--toggle-slider-width));
    transform: translateX(calc(var(--toggle-slider-width) -  var(--toggle-slider-height))); background-color: var(--color-secondary-50);
}

/*
.toggle input[type="checkbox"]:checked + .toggle_slider:after { 
    position: absolute;
    content: "ON";
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: calc(var(--toggle-slider-height) -  calc(var(--toggle-border-width)*4));
    color: var(--color-secondary-50);
    margin-top: var(--toggle-border-width);
    padding-right: calc(var(--toggle-slider-height) - calc(var(--toggle-border-width) * 4));
}
*/

.toggle .toggle_label-wrapper:hover input[type="checkbox"] + .toggle_slider { 
    outline-color: var(--toggle-hover-border-color);
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
}


.toggle .toggle_label-wrapper:focus-within input[type="checkbox"] +	.toggle_slider { 
    outline-color: var(--focus-outline-color);
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
}

@media (forced-colors: active) {
    .toggle input[type="checkbox"] + .toggle_slider { 
        background-color: ButtonFace;
        border-color: ButtonText;
        transition: none;
    }

    .toggle input[type="checkbox"] + .toggle_slider:before { 
        background-color: ButtonText;
        transition: none;
    }
    .toggle input[type="checkbox"]:checked + .toggle_slider { 
        background-color: ButtonText;
        border-color: ButtonFace;
    }
    .toggle input[type="checkbox"]:checked + .toggle_slider:before {
        background-color: ButtonFace;
    }
}
