.icon {
    display: inline-block;
    width: var(--icon-width, 1.5rem);
    height: var(--icon-height, 1.5rem);
}

.icon:before {
    content: " ";
    display: block;
    mask-image: var(--icon);
    mask-size: 100%;
    -webkit-mask-image: var(--icon);
    -webkit-mask-size: 100%;
    width: var(--icon-width, 1.5rem);
    height: var(--icon-height, 1.5rem);
    list-style: normal;
    background-color: var(--icon-color, var(--color-secondary-900));
}