/* Desktop */
/* Layout */
.article-container .container > [class*="section-"] {
  display: inline-block;
  margin-right: -4px; /* remove space between inline elements*/
  vertical-align: top;
}

.article-container > .container > .section-header {
  width: 100%;
}
.article-container > .container > .section-meta {
  width: 180px;
}
.article-container > .container > .section-body {
  width: calc(100% - 480px);
}
.article-container > .container > .section-sidebar {
  width: 300px;
}

/* Module container */
.article-container {
  background: var(--color-support-05);
  color: var(--color-support-06);
  font: var(--font-nano);
}

.article-container::after {
  border-bottom: 2px solid var(--color-ui-03);
  content: '';
  display: block;
  height: 34px;
  margin: 0 auto;
  width: 200px;
}

/* Section header */
.article-container .section-header h1 {
  font: var(--font-giga);
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin-bottom: calc(var(--spacer) * 2);
}
.article-container .section-header .subtitle {
  font-weight: normal;
  text-transform: none;
}

/* Section meta */
.article-container .section-meta {
  margin-bottom: calc(var(--spacer) * 3);
}
.article-container .section-meta .published-date {
  font-weight: normal;
  margin-top: var(--spacer);
  margin-bottom: calc(var(--spacer) * 2);
}
.article-container .share-buttons {
  margin-top: calc(var(--spacer) * 4);
}
.article-container .share-buttons div {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 2);
  padding: calc(var(--spacer) * 2);
}
.article-container .share-buttons .facebook {
  background: #3b5998;
  color: #fff;
}
.article-container .share-buttons .twitter {
  background: #1da1f2;
  color: #fff;
}
.article-container .share-buttons a {
  color: #fff;
}
.article-container .share-buttons .screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* Section body */
.article-container .section-body {
  font: var(--font-p1);
  padding-left: calc(var(--spacer) * 6);
  padding-right: calc(var(--spacer) * 6);
  padding-bottom: calc(var(--spacer) * 6);
}
.article-container .section-body p {
  font-weight: normal;
  padding: calc(var(--spacer) * 4);
}
.article-container .section-body h1,
.article-container .section-body h2,
.article-container .section-body h3,
.article-container .section-body h4,
.article-container .section-body h5,
.article-container .section-body h5 {
  font: var(--font-micro);
}

.article-container .media .meta {
  font-size: 0.8em;
  width: 100%;
  padding-top: var(--spacer);
}

/* Single photo */
.article-container .media.photo .img-holder {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.article-container .media.photo .meta .caption {
  max-width: 70%;
  display: inline-block;
}
.article-container .media.photo .meta .credit {
  max-width: 30%;
  text-align: right;
  float: right;
  padding-bottom: var(--spacer);
}

/* Photo galleries */
.article-container .photo-carousel {
  width: 100%;
  user-select: none;
  position: relative;
  padding-bottom: calc(var(--spacer) * 2);
  padding-top: calc(var(--spacer) * 2);
}
.article-container .photo-carousel.flickity-enabled.is-draggable .flickity-viewport {
  cursor: grab;
}
.article-container .photo-carousel .flickity-viewport {
  transition: height 0.2s;
  overflow: hidden;
  position: relative;
}
.article-container .carousel-cell {
  width: 100%;
  margin-right: 10px;
  background: var(--color-support-06);
  color: var(--color-support-05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-container .carousel-cell picture {
  display: block;
  max-height: 100%;
}
.article-container .photo-carousel .flickity-prev-next-button {
  width: 60px;
  height: 60px;
  padding: 0 calc(var(--spacer) * 4);
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: calc(50% - 60px);
}
.article-container .photo-carousel .flickity-prev-next-button:disabled {
  display: none;
}
.article-container .photo-carousel .flickity-prev-next-button.next {
  right: 0
}
.article-container .photo-carousel .flickity-prev-next-button svg {
  fill: var(--color-support-05);
}
.article-container .photo-carousel .media.photo .meta {
  padding-top: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) * 4);
  padding-left: calc(var(--spacer) * 3);
  padding-right: calc(var(--spacer) * 3);
}
.article-container .photo-carousel .media.photo .meta .counter {
  float: left;
  font-size: 1.2em;
  font-weight: 700;
}
.article-container .photo-carousel .media.photo .meta .credit {
  max-width: 80%;
}
.article-container .photo-carousel .media.photo .meta .caption {
  max-width: 100%;
}

/* Facebook embeds */
/* Instangram embeds */
/* Twitter embeds */
/* Youtube embeds */
.article-container .media.facebook,
.article-container .media.instagram,
.article-container .media.twitter,
.article-container .media.youtube {
  display: flex;
  padding-bottom: calc(var(--spacer) * 2);
  padding-top: calc(var(--spacer) * 2);
  flex-direction: column;
  align-items: center;
}

/* Edge player */
.article-container .player-container .container{
  position: relative;
  padding-bottom: calc(var(--spacer) * 2);
  padding-top: calc(var(--spacer) * 2);
}
.article-container .player-container .containerx16x9::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.article-container .player-container .container .edge-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Edge playlist */

/* Section sidebar */
.article-container .section-sidebar {
  background: var(--color-ui-02);
  color: var(--color-text-04);
  font: var(--font-pico);
}
.article-container .section-sidebar .ad-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--spacer) * 8);
  text-align: center;
}

/* Article list */
.article-container .article-list-module-container {
  box-shadow: var(--ui-shadow-01);
  width: 300px;
}
.article-container .article-list-module-container .module-title {
  padding: calc(var(--spacer) * 2);
}
.article-container .article-list-module-container .item {
  margin-bottom: calc(var(--spacer) * 2);
  padding: 0 calc(var(--spacer) * 2);
  vertical-align: middle;
  transform: none;
  transition: none;
}
.article-container .article-list-module-container .item:hover {
  box-shadow: none;
}
.article-container .article-list-module-container .item::after {
  border-bottom: 2px solid var(--color-ui-03);
  content: '';
  display: block;
  height: calc(var(--spacer) * 2);
  margin: 0 auto;
}
.article-container .article-list-module-container .item:last-child::after {
  border: none;
  height: calc(var(--spacer) * 2);
}
.article-container .article-list-module-container .item a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.article-container .article-list-module-container .item .media-wrap img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.article-container .article-list-module-container .item .meta-wrap {
  padding: calc(var(--spacer) * 2);
  padding-right: 0;
}
.article-container .article-list-module-container .item .meta-wrap .header {
  font: var(--font-pico);
}
.article-container .article-list-module-container .item .meta {
  position: relative;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  /* Layout */
  .article-container > .container > .section-meta {
    width: 100%;
  }
  .article-container > .container > .section-body {
    width: calc(100% - 300px);
  }

  /* Section meta */
  .article-container .section-meta {
    text-align: center;
  }
  .article-container .share-buttons {
    display: none;
  }
}

/* Tablet, mobile */
@media screen and (max-width: 980px) {
  /* Layout */
  .article-container .container > [class*="section-"] {
    width: 100%;
  }
  .article-container .article-list-module-container {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 660px) {
  /* Section body */
  .article-container .section-body {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }
  .article-container .section-body p {
    padding-left: 0;
    padding-right: 0;
  }
  /* Single photo */
  .article-container .media.photo .meta .caption,
  .article-container .media.photo .meta .credit {
    max-width: 100%;
  }
  /* Photo gallery */
  .article-container .photo-carousel .media.photo .meta .credit,
  .article-container .photo-carousel .media.photo .meta .counter {
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
}