@font-face {
    font-family: 'global-icons';
    src:  url('../../fonts/icon/global-icons.woff2?9bef24f907cc54424b2811fd9af434bf1') format('woff2'),
    url('../../fonts/icon/global-icons.woff?9bef24f907cc54424b2811fd9af434bf1') format("woff");
    font-weight: normal;
    font-style: normal;
}

/*************** webplex fonts ***************/
@font-face {
    font-family: 'Sailec';
    src: url('../../fonts/paramount/SailecW00-Regular_web.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../../fonts/paramount/SailecW00-Bold_web.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../../fonts/paramount/SailecW00-Medium_web.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Titling';
    src: url('../../fonts/paramount/TitlingGothicFBComp-Reg.otf') format('truetype');
    font-weight: 400;
}