@font-face {
    font-family: "global-icons";
    src: url("../../fonts/icon/global-icons.woff2?81034c74cad83af6d00931bb388e426a") format("woff2"),
    url("../../fonts/icon/global-icons.woff?81034c74cad83af6d00931bb388e426a") format("woff");
}

/*************** webplex fonts ***************/
@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/vidcon/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/vidcon/Ubuntu-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}