@font-face {
    font-family: "global-icons";
    src: url("../../fonts/icon/global-icons.woff2") format("woff2"),
    url("../../fonts/icon/global-icons.woff") format("woff");
}


/*************** webplex fonts ***************/
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/merriweather/Merriweather-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}